.chart__wrapper {
    height: 70vh;
    margin-top: 1rem;
}

.btn__wrapper {
    text-align: center;
}
.btn__wrapper > button {
    margin: 10px; 
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 0 10px; 
    transition: all 0.5s ease-in-out;
}
.btn__wrapper>button:focus {
    transform: scale(1.3);
}

@media (max-width: 480px) {
    .chart__wrapper {
        height: 60vh;
    }
}